---
import PageBanner from "@mswjs/shared/components/PageBanner.astro";
---

<PageBanner slot="banner">
  <p>You are viewing the docs for <strong>MSW 2.0</strong>. To access the 1.x docs <a href="https://v1.mswjs.io/" class="text-primary hover:underline" target="_blank" rel="noopener noreferrer">click here</a>.</p>
</PageBanner>
