---
import { ChromaticIcon } from '../react/icons/chromatic'
---

<ul class="rounded-md overflow-hidden space-y-1">
  <li>
    <a
      href="https://www.chromatic.com/?ref=mswjs"
      class="inline-flex flex-col items-center justify-center py-3 px-5 w-full grayscale hover:grayscale-0 bg-neutral-800 hover:bg-neutral-700 hover:bg-opacity-50"
      target="_blank"
      rel="noopener noreferer"
    >
      <ChromaticIcon className="max-w-[120px] max-h-[32px] fill-current" />
    </a>
  </li>
</ul>
