---
import Header from '@mswjs/shared/components/Header.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Header logo={{ src: '' }} />
	<p>Foo</p>
</Layout>
