<pre
  tabindex="0"
  data-language="js"
  data-theme="default"
>
  <code data-language="js" data-theme="default" style="display:grid">
    <span data-line="" style="display:flex">
      <span style="color:#F97583">import</span>
      <span style="color:#E1E4E8">{` { fromTraffic } `}</span>
      <span style="color:#F97583">from</span><span style="color:#E1E4E8">{' '}</span>
      <span style="color:#9ECBFF">'@mswjs/source'</span>
    </span>
    <span data-line="" style="display:flex">
      <span style="color:#F97583">import</span>
      <span style="color:#E1E4E8"> traffic </span>
      <span style="color:#F97583">from</span><span style="color:#E1E4E8">{' '}</span>
      <span style="color:#9ECBFF">'./recording.har'</span>
    </span>
    <span data-line="" style="display:flex"> </span>
    <span data-line="" style="display:flex">
      <span style="color:#F97583">const</span>
      <span style="color:#E1E4E8">{' '}</span>
      <span style="color:#79B8FF">handlers</span>
      <span style="color:#E1E4E8"> </span>
      <span style="color:#F97583">=</span>
      <span style="color:#E1E4E8">{' '}</span>
      <span style="color:#B392F0">fromTraffic</span>
      <span style="color:#E1E4E8">(traffic)</span>
    </span>
  </code>
</pre>
