@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;2&display=swap');

@import 'animations.scss';

html {
  --font-family-mono: 'Source Code Pro', Menlo, monospace;
  --border-radius: 3px;

  font-family: Inter, sans-serif;
  line-height: 1.7;
}

body {
  color: var(--color-gray-dark);
}

code,
pre {
  font-family: var(--font-family-mono);
  font-weight: 500;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.75em;
  color: var(--color-black);
  line-height: 1.25;
  font-weight: 500;

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + pre {
    margin-top: 0 !important;
  }
}

h1,
h2 {
  letter-spacing: -0.025em;
}

h3 {
  margin-bottom: 0.5em;
  line-height: 1.4;
  letter-spacing: -0.25px;
}

h4 {
  margin: 1.5em 0 0.5em;
  font-size: 1.15rem;
  font-weight: 500;
}

h5 {
  margin: 1em 0 0.6em;
}

hr {
  margin: 2rem 0;
  border: 0;
  background-color: var(--color-gray-dim);
}

a {
  color: var(--color-secondary);
}
.no-wrap {
  white-space: nowrap;
}

tt,
code {
  display: inline-block;
  padding: 0px 4px;
  background-color: hsl(204, 45%, 98%);
  border: 1px solid hsla(0, 0%, 0%, 0.05);
  font-size: 0.9em;
  line-height: 1.5;
  border-radius: 4px;
}

input {
  padding: 0.5ch 1ch;

  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius);
  transition: box-shadow 0.1s linear, border-color 0.1s linear;

  &:focus {
    border-color: var(--color-primary);
    outline: 0;
    box-shadow: 0 0 0 3px var(--color-primary-dim);
  }
}

.prism-code {
  margin: 2rem 0;

  .line-number-focused {
    background-color: #fff;
    box-shadow: inset 3px 0 0 var(--color-primary);
  }
}

.border-radius {
  border-radius: var(--border-radius);
}

.box-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.008),
    0 6.7px 5.3px rgba(0, 0, 0, 0.012), 0 12.5px 10px rgba(0, 0, 0, 0.015),
    0 22.3px 17.9px rgba(0, 0, 0, 0.018), 0 41.8px 33.4px rgba(0, 0, 0, 0.022),
    0 100px 80px rgba(0, 0, 0, 0.03);
}

#docs-page {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.75em;
  }

  h2 {
    margin-bottom: 0.5em;
    padding-top: 2em;
    border-top: 1px solid var(--color-gray-dim);
  }

  ul,
  ol {
    margin-left: 4ch;

    ul {
      margin-top: 0;
    }
  }

  li {
    margin: 0.4rem 0;
  }
}
