@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;2&display=swap');

html {
  font-family: Inter, sans-serif;
  line-height: 1.7;
}

body {
  color: var(--color-gray);
}

code,
pre {
  font-family: 'Source Code Pro', Menlo, monospace;
  font-weight: 500;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  color: var(--color-gray-dark);
  line-height: 1.2;

  &:first-child {
    margin-top: 0 !important;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + pre {
    margin-top: 0 !important;
  }
}

h1,
h2 {
  letter-spacing: -0.5px;
}

h3 {
  letter-spacing: -0.25px;
}

h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

hr {
  margin: 0;
  border: 0;
}

a {
  color: var(--color-primary);
}

.prism-code {
  margin: 2rem 0;
}

#docs-page {
  h1,
  h2,
  h3 {
    margin-top: 1.5em;
  }

  h2 {
    padding-top: 1.5em;
    border-top: 1px solid var(--color-gray-dim);
  }
}