---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
	strict?: boolean
}

const { href, class: className, strict, ...props } = Astro.props;

const { pathname, } = Astro.url;

function getIsActive(href: URL | string | null | undefined, pathname: string): boolean {
	if (!href) {
		return false
	}

	const linkUrl = href.toString()

	if (strict) {
		return linkUrl === pathname || linkUrl === pathname.replace(/\/$/, '');
	}

	return pathname.startsWith(linkUrl)
}

const isActive = getIsActive(href, pathname)
---

<a href={href} class:list={[
	className,
	'px-3 py-[19px] font-bold hover:text-black dark:hover:text-white',
	{ 'menu-link-active text-black dark:text-white -mb-px border-b border-orange': isActive }
]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
</style>
