---
interface Props {
  title: string
}

const { title } = Astro.props
---

<h4 class="mb-8 font-bold tracking-widest uppercase text-md">
  {title}
</h4>
<nav>
  <ul class="space-y-3 list-none text-white">
    <slot />
  </ul>
</nav>
