---
import { CommandLineIcon } from "@heroicons/react/24/solid";
import { Container } from "./react/container";

interface Props {
  repoUrl: string
}

const { repoUrl } = Astro.props
---

<Container>
  <section
    class="hero-gradient mx-auto max-w-screen-md py-16 md:py-24 md:text-center lg:py-48"
  >
    <slot name="headnote" />

    <h1 class="mb-8 font-black text-pretty md:text-6xl">
      <slot name="title">
    </h1>
    <p
      class="text-xl tracking-tight text-neutral-400 text-balance md:text-2xl md:leading-9"
    >
      <slot name="subtitle">
    </p>
    <footer
      class="mt-14 flex flex-col items-center justify-center gap-6 text-lg font-semibold md:flex-row md:gap-10"
    >
      <a
        href="/docs/getting-started"
        class="button button-primary inline-flex w-full items-center justify-center gap-2 md:w-auto md:px-8"
      >
        <CommandLineIcon className="text-primary w-[24px]" />
        Get started
      </a>
      <a
        href={repoUrl}
        class="inline-block w-full text-center text-neutral-300 hover:text-white md:w-auto"
        target="_blank"
        rel="noopener noreferrer"
      >
        View on GitHub
      </a>
    </footer>
  </section>

  <slot />
</Container>
