---
interface Props {
  actionText?: React.ReactNode
  actionUrl?: string
}

const { props } = Astro
---

<aside class="relative text-sm leading-4 font-bold rounded-lg bg-slate-500 bg-opacity-20 border border-slate-700 px-4 py-1.5 flex flex-col sm:inline-flex sm:flex-row items-center gap-2 mb-8">
  <slot />
  {props.actionText ? (
    <a
      href={props.actionUrl}
      class="text-primary ml-[1ch] flex-shrink-0 hover:underline"
      target="_blank"
      rel="noopener noreferrer"
    >
      {props.actionText}
    </a>
  ) : null}
</aside>
