.DocSearch-Button {
  @apply m-0 border-neutral-700 rounded-md bg-transparent text-neutral-400;
  border-width: 1px !important;
  border-style: solid;
}

.DocSearch-Button:hover,
.DocSearch-Button:focus {
  @apply !bg-neutral-800 !border-neutral-700;
  box-shadow: none;
}

.DocSearch-Button-Key {
  @apply inline-block m-0 mt-[2px] h-[18px] w-[18px] bg-none bg-primary bg-opacity-10 text-primary;
  box-shadow: inset 0 0 0 1px var(--primary);
  font-size: 10px;
  line-height: 17px;
}
