/*!
* @preserve
* MonoLisa 2.010
* This font is subject to a EULA. A user-licence can be acquired at:
*   https://www.monolisa.dev/license
* © 2023 FaceType Foundry. All Rights Reserved.
*/

@font-face {
  src: url(./0-normal.woff2) format('woff2');
  font-family: 'Mono Lisa';
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(./1-italic.woff2) format('woff2');
  font-family: 'Mono Lisa';
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
}

@font-face {
  src: url(./2-normal.woff2) format('woff2');
  font-family: 'Mono Lisa';
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2190-21FF;
}

@font-face {
  src: url(/woff2/3-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2190-21FF;
}
